#Future home of EXPO Go GitIgnore stuff
# Expo related files and folders
.expo/
.expo-shared/

# node dependencies
node_modules/

# macOS system files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log*

# Android/Expo Go build output
android/
*.apk

# iOS build output
ios/
*.xcworkspace
*.xcuserstate
*.xcuserdata

# Misc
*.tar.gz
*.tgz

# Environment variables
.env
.env.*

# Metro, packager, and miscellaneous project files
*.packager
*.log
# Bundles
*.bundle

# Expo config local overrides
app.config.local.*
# VSCode settings
.vscode/